<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-6 content-left">
            <div class="content-left-wrapper">
                <a href="https://aerobotplanet.com" id="logo" title=""><img src="http://aerobotplanet.com/images/aerobot-planet_logo_white.png" alt="" height="48px"></a>
                <div>
                    <figure><img src="http://aerobotplanet.com/images/aerobot-planet_online.svg" alt="" class="img-fluid"></figure>
                    <h2>AEROBOT ACADEMY</h2>
                    <p>Comienza el proceso de inscripción para el mejor curso de robótica para niños en el Tec de Monterrey Campus Puebla.</p>
                    <a href="https://aerobotplanet.com/academy" class="btn_1 rounded">Ver Detalles</a>
                    <a href="#start" class="btn_1 rounded mobile_btn">¡COMENZAR!</a>
                </div>
                <div class="copy">AEROBOT PLANET 2019</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->

        <div class="col-lg-6 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                <form [formGroup]="userData" (ngSubmit)="saveChanges()" id="wrapped">
                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->
                    <div id="middle-wizard">
                        <div class="step">
                            <h3 class="main_question"><strong>Datos del Alumno</strong></h3>
                            <div class="form-group">
                                <input type="text" formControlName="name" class="form-control" placeholder="Nombre (s)">
                                <div *ngIf="!userData.controls['name'].valid">
                                    Este campo es requerido
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" formControlName="name_paternal" class="form-control" placeholder="Apellido Paterno">

                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="name_maternal" class="form-control" placeholder="Apellido Materno">
                            </div>

                            <div class="form-group">
                                <label>Fecha de nacimiento:</label>
                                <input type="date" formControlName="birth_date" class="form-control" placeholder="Fecha de nacimiento">
                            </div>

                            <!--<div class="form-group">
                                <label class="radio-inline"><input *ngFor="let gender of genderList" formControlName="gender" type="radio" value="{{gender.gender_id}}"> {{ gender.name }} </label>
                            </div>-->

                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    <select class="wide" formControlName="city_id">
                                        <option value="">Ciudad</option>
                                        <option *ngFor="let city of citiesList" value="{{city.city_id}}" >{{city.name}}</option>
									</select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    <select class="wide" formControlName="gender_id">
                                        <option value="">Género</option>
                                        <option *ngFor="let gender of genderList" value="{{gender.gender_id}}" >{{ gender.name }}</option>
									</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" formControlName="curp" class="form-control" placeholder="CURP / ID PERSONAL">
                            </div>

                        </div>
                        <!-- /step-->

                        <div class="step">
                            <h3 class="main_question"><strong>Alergias y Condiciones Especiales</strong></h3>
                            <div class="form-group">
                                <textarea rows="8" formControlName="allergies" class="form-control" placeholder="¿El thinker cuenta con alergias o condiciones que requieran un trato especial?">s</textarea>
                            </div>
                        </div>
                        <!-- /step-->


                        <div class="step">
                            <h3 class="main_question"><strong>Datos del Padre o Tutor</strong></h3>
                            <div class="form-group">
                                <input type="text" formControlName="father_name" class="form-control" placeholder="Nombre Completo">
                            </div>

                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    <select class="wide" formControlName="relationship_id">
                                        <option value="">Parentesco</option>
                                        <option *ngFor="let relationship of relationshipList" value="{{relationship.relationship_id}}" >{{relationship.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Correo Electrónico">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Confirmar Correo">
                            </div>
                            <div class="form-group">
                                <input type="phone" formControlName="whatsapp" class="form-control" placeholder="WhatsApp">
                                <div *ngIf="!userData.controls['whatsapp'].valid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="phone" formControlName="home_phone" class="form-control" placeholder="Teléfono de Casa">
                                <div *ngIf="!userData.controls['home_phone'].valid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                        </div>
                        <!-- /step-->

                        <!-- datos escolares-->
                        <div class="step">
                            <h3 class="main_question"><strong>Datos Escolares</strong></h3>
                            <div class="form-group">
                                <input type="text" formControlName="origin_school" class="form-control" placeholder="Escuela de procedencia">
                            </div>

                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    <label>Grado</label>
                                    <select class="wide" formControlName="grade_id">
                                        <option value="">Grado</option>
                                        <option *ngFor="let grade of gradesList" value="{{grade.grade_id}}" >{{grade.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div id="pass-info" class="clearfix"></div>

                            <h3 class="main_question"><strong>¿Cómo nos conociste?</strong></h3>

                            <div class="form-group">
                                <div class="styled-select clearfix">
                                    <select class="wide" formControlName="meet_us_id">
                                        <option value="">ALUMNO ACTUAL</option>
                                        <option *ngFor="let meetUs of meetUsList" value="{{meetUs.meet_us_id}}" >{{meetUs.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /step-->
                        <!-- /step escolar-->

                        <!-- Se muestra la lsita de los Bancos consultando la base -->
                        <div class="submit step">
                            <h3 class="main_question"><strong>Finalizar</strong></h3>
                            <div class="summary">
                                <ul>
                                    <li><strong>1</strong>
                                        <h5>INFO DE PAGO:</h5>

                                        <div class="form-group">
                                            <div class="styled-select clearfix">
                                                <select class="wide">
													<label>Banco</label>
													<option value="Santander" selected disabled>Santander</option>
												</select>
                                            </div>
                                        </div>

                                    </li>

                                    <li><strong>2</strong>
                                        <h5>FORMA DE PAGO:</h5>

                                        <div class="form-group">
                                            <div class="styled-select clearfix">
                                                <select class="wide" formControlName="payment_types_id">
                                                    <option *ngFor="let paymentType of paymentTypeList" value="{{paymentType.payment_types_id}}">{{paymentType.name}}</option>
												</select>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="form-group terms">
                                <label class="container_check">Por favor revisa nuestra <a href="#" data-toggle="modal" data-target="#terms-txt">Política de Privacidad.</a>
                                    <input type="checkbox" name="terms" value="Yes" class="">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <!-- /step-->
                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Anterior</button>
                        <button type="button" name="forward" class="forward">Siguiente</button>
                        <button type="submit" name="process" class="submit">Enviar</button>
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->

<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- /cd-overlay-nav -->

<div class="cd-overlay-content">
    <span></span>
</div>
<!-- /cd-overlay-content -->